*{
    margin: 0;
    padding: 0;
}
.CONT{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(255, 139, 139);
    gap: 20px;
    height: 100vh;
 }
 .boxx{
    background-color: rgb(119, 0, 0);
    /* margin: 10px; */
    text-align: center;
    color: white;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    font-weight: 300;
 }

 .box1{
    grid-column-start: 1;
    grid-column-end: 3;
    
 }
 .box2{
    grid-row-start: span 3;
 }
.box6{
    grid-column-start: 1;
    grid-column-end: 3;
}